div {
  background-color: #3f3f3f;
  border: 1px #222222;
  border-radius: 10px;
}

.zippyExpander {
  display: flex;
  flex-direction: row;
}

.margin-right {
  padding-right: 50%;
}

.zippyTitle {
  flex: 1;
}
.zippyText {
  padding: 2%;
  flex: 1;
}

.zippyContent {
  background-color: #222222;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.outer-panel {
  margin: 1%;
}
